@tailwind base;
@tailwind components;
@tailwind utilities;

.instagram-link {
  position: relative;
  /*background: linear-gradient(90deg, #ffd600, #ff7a00, #ff0069, #d300c5, #7638fa);*/
}

.instagram-link::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    #ffd600,
    #ff7a00,
    #ff0069,
    #d300c5,
    #7638fa
  );
}

.facebook-link {
  position: relative;
  /* background: linear-gradient(90deg, #18aefe, #0d8af0, #0062e0);
  color: white; */
}

.facebook-link::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 1px;
  background: linear-gradient(90deg, #18aefe, #0d8af0, #0062e0);
}

/* .image-gallery {
  .image-gallery-slide.center {
    outline: none;
  }
  &:not(.fullscreen-modal) {
    img.image-gallery-image {
      //max-height: max-content !important;
      height: 40vh;
      object-fit: cover;
    }
  }
}

.bottom-shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 50px;
}

.youtube-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
} */
