@each $breakpoint, $bpv in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  //   $circleSize: map-get($circleSizes, $breakpoint);

  //   @if $circleSize == null {
  //     $circleSize: 2;
  //   }

  //   .btn-circle#{$infix} {
  //     width: $circleSize * 1em;
  //     height: $circleSize * 1em;
  //     padding: 0.1em 0;
  //     border-radius: $circleSize * 1em;
  //     text-align: center;
  //   }

  @include media-breakpoint-up($breakpoint) {
    // @each $sizeName, $sizeVal in $text-sizes {
    //   .text-size#{$infix}-#{$sizeName} {
    //     @include rfs($sizeVal);
    //   }
    // }

    //-- Text Sizes
    .text-center#{$infix} {
      text-align: center !important;
    }

    .text-start#{$infix} {
      text-align: left !important;
    }

    .text-end#{$infix} {
      text-align: right !important;
    }

    .row#{$infix} {
      @include make-row();
    }

    // @each $size, $length in $sizes {
    //   .w#{$infix}-#{$size} {
    //     width: $length !important;
    //   }

    //   .h#{$infix}-#{$size} {
    //     height: $length !important;
    //   }
    // }

    //-- Specialty Borders
    .border-end#{$infix} {
      border-right: $border-width solid $border-color;
    }

    .border-start#{$infix} {
      border-left: $border-width solid $border-color;
    }

    .border-top#{$infix} {
      border-top: $border-width solid $border-color;
    }

    .border-bottom#{$infix} {
      border-bottom: $border-width solid $border-color;
    }
  }

  @include media-breakpoint-down($breakpoint) {
    //-- Specialty Borders
    .border#{$infix}-end {
      border-right: $border-width solid $border-color;
    }

    .border#{$infix}-start {
      border-left: $border-width solid $border-color;
    }

    .border#{$infix}-top {
      border-top: $border-width solid $border-color;
    }

    .border#{$infix}-bottom {
      border-bottom: $border-width solid $border-color;
    }
  }
}
