.blog-link {
  @extend .text-dark;
  @extend .border-bottom;
  @extend .border-info;
  @extend .rounded-top;
  text-decoration: none;
  background-color: tint-color($primary, 90%);
  color: color-contrast(tint-color($primary, 90%));
  &:not(.btn) {
    padding: 0 0.25rem;
  }
  &:hover {
    background-color: tint-color($primary, 80%);
    color: color-contrast(tint-color($primary, 80%));
  }
}
.posts-container {
  @extend .px-md-3;
  @extend .mx-auto;
  @extend .mb-5;
  max-width: 760px;

  @include media-breakpoint-up(md) {
    max-width: map-get($map: $grid-breakpoints, $key: md);
  }
  
  @include media-breakpoint-up(lg) {
    max-width: map-get($map: $grid-breakpoints, $key: lg);
  }
  

  p {
    a {
      @extend .blog-link;
    }
  }
}

@media (min-width: 40em) {
  .posts-container {
    font-size: 18px;
  }
}
